set timeout=5
set default=0

{{- if .Installed}}
menuentry "Boot from local hard disk for" {
    set root=(hd0)
    chainloader +1
}
{{- else}}
{{- if eq .OSType "debian"}}
menuentry "Install {{.OSName}} for {{.ID}}" {
    linux {{.Kernel}} \
        auto=true \
        preseed/url={{.OSData.PreeSeedURL}} \
        priority=critical
    initrd {{.OSData.Initrd}}
}
{{- end}}
{{- end}}
