set timeout=5
set default=0

{{- if .Installed}}
menuentry "Boot from local hard disk for {{.ID}}" {
    insmod part_gpt
    insmod fat
    insmod chain
    {{- if eq .OSType "debian"}}
    search --set=root --no-floppy --file /EFI/debian/grubx64.efi
    chainloader /EFI/debian/grubx64.efi
    {{- else if eq .OSType "ubuntu"}}
    search --set=root --no-floppy --file /EFI/ubuntu/grubx64.efi
    chainloader /EFI/ubuntu/grubx64.efi
    {{- end}}
}
{{- else}}
{{- if eq .OSType "ubuntu"}}
menuentry "Install {{.OSName}} for {{.ID}}" {
    linux {{.Kernel}} ip=dhcp url={{.OSData.ISOUrl}} autoinstall "ds=nocloud-net;s={{.OSData.DS}}" cloud-config-url=/dev/null ---
    initrd {{.OSData.Initrd}}
}
{{- else if eq .OSType "centos"}}
menuentry "Install {{.OSName}} for {{.ID}}" {
    linux {{.Kernel}} inst.ks={{.OSData.InstallKickStartURL}} ip={{.OSData.IP}} inst.repo={{.OSData.InstallRepoURL}}
    initrd {{.OSData.Initrd}}
}
{{- else if eq .OSType "debian"}}
menuentry "Install {{.OSName}} for {{.ID}}" {
    linux {{.Kernel}} \
        auto=true \
        preseed/url={{.OSData.PreeSeedURL}} \
        priority=critical
    initrd {{.OSData.Initrd}}
}
{{- else}}
menuentry "Unknown OS Type Configured" {
    echo "No valid OS type configured"
}
{{- end}}
{{- end}}

menuentry "Boot from Local Disk" {
    exit
}
