set timeout=5
set default=0

{{- if .Installed}}
menuentry "Boot from local hard disk for" {
    insmod part_gpt
    insmod fat
    insmod chain
    search --set=root --no-floppy --file /EFI/debian/grubx64.efi
    chainloader /EFI/debian/grubx64.efi

}
{{- else}}
{{- if eq .OSType "debian"}}
menuentry "Install {{.OSName}} for {{.ID}}" {
    linux {{.Kernel}} \
        auto=true \
        preseed/url={{.OSData.PreeSeedURL}} \
        priority=critical
    initrd {{.OSData.Initrd}}
}
{{- end}}
{{- end}}
